body  {
    background-image: url("http://i.imgur.com/cNCwjNH.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: cover;
    clear: both;
    color: white;
    margin: 0;
    font-family: 'Karla', sans-serif;
    text-align: justify;
}
li ul li, li ul li ul li {
    list-style-type: disc;
}
#news article p {
    font-family: 'Rakkas', sans-serif;
}
.center {
    text-align: center;
}
.centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
header {
    position: sticky;
    z-index: 999;
    top: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1537;
    width: 100%;
    border: 0;
}
header ul li {
    float: left;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 20px;
}

header li a:hover {
    background-color: #6859c0;
}
.active {
    background-color: #4CAF50;
}
p, h2, h3, hr {
    margin: 12px;
}
.rightFloat {
    float:right;
    margin: 15px;
}
.leftFloat {
    float: left;
    margin: 15px;
}
.modes li {
    margin: 15px;
}
h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}
.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    border: 2px solid blue;
    border-radius: 20px;
    overflow: auto;
}
.col {
    max-width: 100%;
    max-height: 100%;
}
#tyrande {
    width: 20%;
}
#ranked {
    width: 25%;
}
.newimg {
    width: 25%;
}
footer {
    background: #1a1537;
    text-align: center;
    padding:    15px;
    margin:     0px;
    font-size:  110%;
    clear: both;
}
#heroes {
    text-align: center;
}
.heroContainer { 
    display: inline-block;
    text-align: left;
    margin: 0 3% ;
    padding: 0;
    vertical-align: top;
}
.heroContainer img {
    width: 260px;
}
#heroes a:visited, #heroes a:link, #heroes a:hover, #heroes a:active
{
    color: grey;
    text-decoration: none;
    padding: 0;
    line-height: 80%;
}
#heroes a:visited h2, #heroes a:link h2, #heroes a:hover h2, #heroes a:active h2 {
    color: white;
    margin-left: 0;
}
#heroes a:visited p, #heroes a:link p, #heroes a:hover p, #heroes a:active p {
    margin-left: 0;
}
#heroes img:hover { 
  outline: 3px solid blue;
}
#logoFlotante {
    position: sticky;
    float: left;
    left: 95%;
    bottom: 20px;
    z-index: 998;
}
#logoFlotante:hover {
    outline: black solid 5px;
}
#patchnotes {
    font-family: Roboto;
}
#patchnotes a:visited, #patchnotes a:link, #patchnotes a:active  {
    text-decoration: none;
    color: #1569C7;
}
#patchnotes a:hover, .sidenav a:hover {
    color: DodgerBlue;
}
table {
  border-collapse: collapse;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
  text-align: left;
}

th, td {
    text-align: center;
    border-top: 1px solid #6600ff;
}
.lightBlue {
    color: #0094f8;
}
.lightBlue li {
    color: white;
}
.talents {
    color: #53008c;
    margin: 12px;
}
blockquote {
    margin: 0;
    background-color: #232c3c;
    border-left: 5px #3f86f3 solid;
    padding: 5px;
}
blockquote p {
    color: #8eaad7;
}
.imgContainer img {
    width: 100%;
    max-height: 60px;
    max-width: 700px;
}

#videos {
    text-align: center;
}
.videoMedia {
    width: 25%;
    margin: 1% 3%;
}
.sidenav {
    display:table-cell;
    z-index: 1;
    background-color: transparent;
    padding: 0 1% 0 0;
}
.sidenav a {
    padding: 3%;
    text-decoration: none;
    font-size: 1.4em;
    color: #1569C7;
    display: block;
    border: solid 1px white;
}
.tableContainer {
    display:table;
}
.tableRow {
    display:table-row;
}
.main {
    display:table-cell;
}
.comic, .image {
    display: inline-block;
    text-align: center;
    margin: 0 3% ;
    padding: 0;
    vertical-align: top;
    font-size: 1.2em;
    border: solid #1569C7;
    line-height: 1px;
    margin: 15px;
    color: #1569C7;
    background-color: black;
}
.comic:hover, .image:hover {
    border: solid DodgerBlue;
}
.comic a:visited, .comic a:link, .comic a:active  {
    text-decoration: none;
    color: #1569C7;
}
.comic a:hover {
    color: DodgerBlue;
}
#radiusTable  {
    border: 1px solid #6600ff;
}
#radiusTable th {
    border: 1px solid #6600ff;
    background: #6600ff;
}

@media only screen and (orientation: portrait) {
    #tyrande, #ranked, .video, .newimg, .patchImg {
        display: block;
        width: 75%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    header, .container, body {
        font-size: small;
    }
    .videoMedia {
        width: 80%;
    }
    .sidenav {
        display: none;
    }
    .comic img {
        width: 90%;
    }
}
